<md-sidenav-container class="container">

    <md-sidenav #sidenav mode="side" class="sidenav" align="end">
        <md-nav-list>
            <md-list-item (click)="sidenav.toggle()">
                <div id="close-btn"> Close </div>
            </md-list-item>
            <md-list-item>
                <label for="attr"> 引力參數
                <input type="number" name="attr" [(ngModel)]="modelArgs.attr" step="0.1">
                </label>
            </md-list-item>
            <md-list-item>
                <label for="repu"> 斥力參數
                <input type="number" name="repu" [(ngModel)]="modelArgs.repu" step="0.1">
                </label>
            </md-list-item>
            <md-list-item>
                <label for="slen"> 彈簧長度
                <input type="number" name="slen" [(ngModel)]="modelArgs.slen" step="100">
                </label>
            </md-list-item>
            <md-list-item>
                <label for="mlen"> 移動參數
                <input type="number" name="mlen" [(ngModel)]="modelArgs.mlen" step="10">
                </label>
            </md-list-item>
            <md-list-item>
                <label for="total"> 迭代次數
                <input type="number" name="total" [(ngModel)]="modelArgs.total" step="10">
                </label>
            </md-list-item>
            <md-list-item>
                <label for="interval"> 播放速度
                <input type="number" name="interval" [(ngModel)]="modelArgs.interval" step="100">
                </label>
            </md-list-item>
            <md-list-item>
                <label for="cameraZ"> 相機位置
                <input type="number" name="cameraZ" [(ngModel)]="modelArgs.cameraZ" step="1000">
                </label>
            </md-list-item>
            <md-list-item *ngIf="modelName === 'linlog'">
                <label for="t1"> 高階比例
                <input type="number" name="t1" [(ngModel)]="modelArgs.time1" step="0.1">
                </label>
            </md-list-item>
            <md-list-item *ngIf="modelName === 'linlog'">
                <label for="t2"> 一階比例
                <input type="number" name="t2" [(ngModel)]="modelArgs.time2" step="0.1">
                </label>
            </md-list-item>
            <md-list-item *ngIf="modelName === 'linlog'">
                <label for="scale"> 低階縮放
                <input type="number" name="scale" [(ngModel)]="modelArgs.scale" step="1000000">
                </label>
            </md-list-item>
            <md-list-item *ngIf="modelName === 'linlog'">
                <label for="rstart"> 初始階數
                <input type="number" name="rstart" [(ngModel)]="modelArgs.rstart" step="1">
                </label>
            </md-list-item>
            <md-list-item>
                <label for="rstart"> 可選方案
                    <button md-button [mdMenuTriggerFor]="argsMenu">{{currentArgsProfile}}</button>
                    <md-menu #argsMenu="mdMenu">
                        <button *ngFor="let argsProfile of argsProfiles; let idx = index" md-menu-item (click)="changeArgsProfile(idx)">{{argsProfile}}</button>
                    </md-menu>
                </label>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>

    <div class="sidenav-content">
        <span class="light-span hidden-span"> Demo </span>
        <button md-button color="{{modelName === 'spring' ? 'primary' : ''}}" class="md-primary" md-raised-button="" (click)="changeModel('spring')">Spring</button>
        <button md-button color="{{modelName === 'fr' ? 'primary' : ''}}" class="md-primary" md-raised-button="" (click)="changeModel('fr')">FR</button>
        <button md-button color="{{modelName === 'linlog' ? 'primary' : ''}}" class="md-primary" md-raised-button="" (click)="changeModel('linlog')">LinLog</button>

        <span class="left-span"> DataSet: </span>
        <button md-button [mdMenuTriggerFor]="menu">{{dataSet}}</button>
        <md-menu #menu="mdMenu">
            <button *ngFor="let dataSetName of dataSets; let idx = index" md-menu-item (click)="changeDataset(idx)">{{dataSetName}}</button>
        </md-menu>
        <span>
            <input #fileInput name="file" type="file" (change)="onFileChange($event)"/>
        </span>

        <div class="rightnav-content">
            <button md-button (click)="center()" class="hidden-span">Center</button>
            <button md-button (click)="toggleEdges()" class="hidden-span">Edges</button>
            <span>Step: {{currentStep}} </span>
            <button md-button (click)="toggle()">{{playOrPause}}</button>
            <button md-button (click)="nextStep()">Next</button>
            <button md-button (click)="reset()">Reset</button>
            <button md-button (click)="result()">Result</button>
            <button md-button (click)="sidenav.toggle()">Menu</button>
            <!--<md-slide-toggle (click)="sidenav.toggle()">
                Menu
            </md-slide-toggle>-->

        </div>
    </div>

    <md-card>
        <main-canvas></main-canvas>
    </md-card>

</md-sidenav-container>