.rightnav-content {
    float: right;
}

.light-span {
    margin-left: 30px;
    margin-right: 60px;
}

.left-span {
    margin-left: 50px;
}

@media (max-width: 1600px) {
    .hidden-span {
        display: none;
    }
}

#close-btn {
    color: #888;
    font: 14px/100% arial, sans-serif;
    width: 100%;
    text-align: right;
}